<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.{{USER}}.update-tools</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>~/.local/bin/update-tools.sh</string>
  </array>

  <!-- Run daily at 4:00 AM -->
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key><integer>4</integer>
    <key>Minute</key><integer>0</integer>
  </dict>

  <key>StandardOutPath</key>
  <string>~/Library/Logs/update-tools.out</string>
  <key>StandardErrorPath</key>
  <string>~/Library/Logs/update-tools.err</string>
</dict>
</plist>
